<div class="row col-12" style="background-color: rgb(255, 174, 0);">
  <h3>Componente 1</h3>
  <div>
    <button type="button" (click)="cambiarVariable()" class="btn btn-primary btn-blok m-3">Intercambiar</button>
  </div>
  
</div>


<div class="row col-12">
  <div class="col-4" style="background-color: rgb(0, 183, 255);">
      <app-componente4></app-componente4>
      <h3>Componente 4</h3>
    </div>
    <div class="col-8 bg-light">
        <div class="row" style="background-color: rgba(0, 255, 106, 0.671);">
          <app-componente2 [propiedadComponente2]="curso1" [propiedadComponente2]="contador"></app-componente2>
          <h3>Componente 2</h3>
            <p>{{curso1.nombre}}</p>
            <p>{{curso1.descripcion}}</p>
            <p>{{contador}}</p>
        </div>
        <div class="row" style="background-color: rgba(255, 0, 212, 0.281);">
          <app-componente3 [propiedadComponente3]="curso2" [propiedadComponente3]="contador"></app-componente3>
            <h3>Componente 3</h3>  
            <p>{{curso2.nombre}}</p>
            <p>{{curso2.descripcion}}</p>
            <p>{{contador}}</p>
        </div>
      
    </div>
    

</div>